/* *
{
    border: 1px dashed #000;
} */
:root
{
/* C O L O R - V A R S */
--ligth-color: #FFF;
--dark-color: #000;
--background-color: rgba(229, 231, 235, 1);
--brand-color: rgba(139, 92, 246, 1);
--footer-color: rgba(17, 24, 39, 1);
--disclamer-color: rgba(75, 85, 99, 1);
/* F O N T - V A R S */
--main-font-size: clamp(1rem, 0.4rem + 0.8vw, 1.5rem);
/* G A P S - V A R S */
--main-gap: 1.5rem;


font-family: 'Open Sans', sans-serif;
}
html
{
    font-size: var(--main-font-size);
}
body
{
    margin: auto;
}
.header, .intro, .shippingCalculator, .advantages, .garantee, .reviews, .qestions
{
    padding: .5rem 3rem;
    margin: 2rem 0;
}
.warning
{
    color: red;
    font-weight: 900;
}
.header
{
    margin-bottom: -1.5rem;
    margin-top: .5rem;
}
.intro img
{
    margin-top: 1.5rem;
    border-radius: 0.5rem;
}
main
{
    background: var(--background-color);
    margin-bottom: 0;
    padding-bottom: var(--main-gap);
}
footer
{
    background: var(--footer-color);
    color: var(--ligth-color);
    padding: 1.5rem 3rem;
}
button
{
    background: var(--brand-color);
    border: 0;
    border-radius: .2rem;
    color: var(--ligth-color);
    padding: .25rem;
}
button:hover
{
    background-color: var(--footer-color);
    transition: background-color;
    transition-duration: .5s;
    cursor: pointer;
}
.shippingCalculator, .qestions
{
    background: var(--ligth-color);
    border-radius: .5rem;
    margin: 0rem 3rem;
    padding: var(--main-gap);
}
/* N A V I G A T I O N */
.footer a, .header a
{
    text-decoration: underline solid;
}
.footer a:hover, .header a:hover
{
    text-decoration: underline 2px solid var(--brand-color);
    transition: color .5s;
    color: var(--brand-color);
    text-transform: uppercase;
    font-weight: 800;
    transition: text-transform .5s;
}
.footerNav il, .headerNav il
{
    font-size: calc(var(--main-font-size) * 0.9);
    letter-spacing: .05rem;
}
.footerNav il + il, .headerNav il + il
{
    padding-left: calc(var(--main-gap) - 0.75rem);
}
.footerNav
{
    text-align: center;
    padding-left: 0;
}
.headerNav
{
    padding-left: 0;
}
/* T E X T S - a n d - F O N T S */ 
h1
{
    font-weight: 900;
    font-size: 1.8rem;
}
h2
{
    font-weight: 300;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
    padding-bottom: 1rem;
}
h3
{
    font-weight: 900;
    font-size: calc(var(--main-font-size) + .1rem);
    color: var(--brand-color);
}
h2, h3
{
    margin-top: 0;
}
.garantee, .shippingCalculator p
{
    text-align: center;
}
.garantee p, .shippingCalculator p
{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: var(--main-gap);
    max-width: 67%;
    margin-left: auto;
    margin-right: auto;

}
.garantee button
{
    margin-top: var(--main-gap);
}
.disclaimer, .credits
{
    color: var(--disclamer-color);
    /* text-align: center;
    font-size: calc(var(--main-font-size) * 0.75); */
}

.headerPhoneBlock span, .headerLogo span, .footerPhoneBlock, .footerLogo span
{
    font-size: 1.5rem;
    font-weight: 900;
}
.headerPhoneBlockDescription, .headerInfo p
{
    font-size: calc(var(--main-font-size) * 0.85);
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.headerInfo p
{
    font-size: calc(var(--main-font-size) * 0.75);
    border-right: 0.1rem solid var(--brand-color);
    padding-right: calc(var(--main-gap) / 2);
    margin-right: calc(var(--main-gap) / 2);
}
.garanteeFieldItem p
{
    line-height: 120%;
}
/* H E A D E R */
.header
{
    display: flex;
    flex-direction: column;
}
.headerTop, .headerBottom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLogo
{   
    display: flex;
    gap: calc(var(--main-gap)/8);
    text-align: left;
    align-items: center;
}
.headerTopRigth
{
    display: flex;
    align-items: flex-end;
}
.headerInfo
{
    text-align: right;
}
/* F O O T E R */
.footer
{
    display: flex;
    flex-direction: column;
    gap: calc(var(--main-gap)/2);
}
.footerTop, .footerBottom
{
    display: flex;
    gap: calc(var(--main-gap)/4);
    justify-content: space-between;
    align-items: center;
}
.footerPhoneBlock
{
    text-align: right;
}
.footerPhoneBlock p
{
    font-size: calc(var(--main-font-size) * 0.85);
    font-weight: 400;
}
.footerLogoBlock
{
    display: flex;
    gap: calc(var(--main-gap)/8);
    align-items: center;
}
.footerLogo .copyright
{
    font-size: calc(var(--main-font-size) * 0.7);
    font-weight: 400;
    text-align: left;
}
.footerBottom 
{
    font-size: calc(var(--main-font-size) * 0.7);
    text-align: right;
}
.disclaimer
{
    text-align: left;
}
.footerNav
{
    justify-self: center;
}
/* R E V I E W S */
.reviewsField
{
    display: flex;
    gap: var(--main-gap);
    justify-items: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
}
.reviewsFieldItem
{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: stretch;

}
.reviewsFieldItemComent
{
    background: url(../icons/reviewsBracet.svg) bottom .25rem right .25rem no-repeat var(--ligth-color);
    border-radius: .5rem;
    padding: 0 calc(var(--main-gap) / 2) calc(var(--main-gap) / 2) calc(var(--main-gap) / 2);
}
.reviewsFieldItemComent span
{
    color: var(--disclamer-color);
    font-size: calc(var(--main-font-size) * 0.65);
}
.arrowLeft
{
    padding-right: var(--main-gap);
    margin-left: -1.5rem;
    padding-left: 0;
}
.arrowRigth
{
    padding-left: var(--main-gap);
    margin-right: -1.5rem;
    padding-right: 0;
}
/* F L E X E S - a n d - G R I D S */
.intro
{
    display: flex;
    gap: var(--main-gap);
}
.advantagesField, .garanteeField
{
    display: flex;
    gap: calc(var(--main-gap) * 2);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.advantagesFieldItem
{
    flex: 0 0 80%;
    display: flex;
    gap: var(--main-gap);  
}
.advantagesFieldItem p
{
    margin-top: 0.2rem;
    font-size: calc(var(--main-font-size) * 0.7);
}
.garanteeFieldItem
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.garanteeFieldItem p
{
    margin-top: 0.2rem;
    font-weight: bold;
}
/* F O R M S */
.shippingCalculatorForm, .qestionsForm
{
    max-width: 24rem;
    margin: auto;
    overflow: auto;
}
label
{
    color: var(--disclamer-color);
    font-size: calc(var(--main-font-size) * 0.7);
    text-transform: uppercase;
}
input, textarea
{
    border: .075rem solid #000;
    border-radius: .2rem;
}
input:hover, textarea:hover
{
    background: rgba(229, 231, 235, 0.2);
}
input:user-invalid, textarea:user-invalid
{
    border: .075rem solid red;
}
.qestionsForm
{
    display: grid;
    gap: calc(var(--main-gap)/4);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    align-items: center;
}
.shippingCalculatorForm
{
    display: grid;
    gap: calc(var(--main-gap)/4);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.qestionsFormItem
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.shippingCalculatorFormItem
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    grid-column: 1 / span 2;
}
.shippingCalculatorFormItem + .shippingCalculatorFormItem
{   
    grid-column: span 1;
}
.shippingCalculatorFormItem  + .shippingCalculatorFormItem  + .shippingCalculatorFormItem +
.shippingCalculatorFormItem  + .shippingCalculatorFormItem  + .shippingCalculatorFormItem +
.shippingCalculatorFormItem  + .shippingCalculatorFormItem  + .shippingCalculatorFormItem + .shippingCalculatorFormItem
{
    grid-column: 1 / span 2;
}
.qestionsFormItem + .qestionsFormItem  + .qestionsFormItem + .qestionsFormItem + .qestionsFormItem
{
    grid-column: 1 / span 2;
}
.qestionsFormItem [name="qestion"]
{
    resize: vertical;
}
/* M E D I A Q U A R I E S */
@media only screen and (max-width: 542px)
{
    .shippingCalculatorForm
    {
        display: grid;
        gap: calc(var(--main-gap)/4);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
    }
    .shippingCalculatorFormItem, .shippingCalculatorFormItem + .shippingCalculatorFormItem,
    .shippingCalculatorFormItem  + .shippingCalculatorFormItem  + .shippingCalculatorFormItem +
    .shippingCalculatorFormItem  + .shippingCalculatorFormItem  + .shippingCalculatorFormItem +
    .shippingCalculatorFormItem  + .shippingCalculatorFormItem  + .shippingCalculatorFormItem + .shippingCalculatorFormItem
    {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        grid-column: 1 / span 1;
    }
    .qestionsForm
    {
        display: grid;
        gap: calc(var(--main-gap)/4);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 3fr 1fr;
        align-items: center;
    }
    .qestionsFormItem + .qestionsFormItem  + .qestionsFormItem + .qestionsFormItem + .qestionsFormItem
    {
        grid-column: 1 / span 1;
    }

    .garanteeField
    {
        gap: 0;
    }
    .reviewsField, .advantagesField
    {
        display: block;
    }
    .advantagesFieldItem, .reviewsFieldItem
    {
        margin-bottom: 1rem;
    }
    .advantages
    {
        margin-left: 0;
    }
}

@media only screen and (max-width: 660px)
{
    .headerPhoneBlock span, .headerLogo span
    {
        font-size: calc(var(--main-font-size) * 1.05);
    }
    .headerLogo img 
    {
        scale: 70%;
    }
    .garantee img, .advantages img
    {
        scale: 85%;
    }
}
@media only screen and (max-width: 1580px)
{
    .reviewsFieldItem
    {
        flex: 0 0 43%;
    }
    .reviewsField
    {
        grid-template-columns: 0;
    }
}
@media only screen and (max-width: 980px)
{
    .intro
    {
        display: block;
    }
    .reviewsFieldItem
    {
        flex: 0 0 67%;
    }
}
@media only screen and (max-width: 1024px)
{
    .headerBottom
    {
        display: none;
    }
    .headerPhoneBlockDescription, .headerInfo
    {
        display: none;
    }
    .footerTop, .footerBottom
    {
        flex-direction: column;
        gap: var(--main-gap);
     
    }
    .footerLogo
    {
        order: 1;
        display: flex;
        flex-direction: column;
        gap: calc(var(--main-gap) / 4);
        align-items: center;
        justify-content: center;
    }
    .footerPhoneBlock
    {
        order: 2;
    }
    .disclaimer, .credits
    {
        text-align: center;
    }
    .footerNav
    {
        scale: 125%;
    }
}

@media only screen and (min-width: 1024px)
{   
    .advantagesFieldItem
    {
        flex: 0 0 37%;
    }
    .garanteeFieldItem
    {
        flex: 0 0 42%;
    }
}
@media only screen and (min-width: 1580px)
{
    .maininfo
    {
        display: flex;
        gap: var(--main-gap);
        align-items: flex-start;
    }
    .intro
    {
        display: block;
    }
    .shippingCalculator
    {
        flex: 1 0 45%;
        margin-top: calc(var(--main-gap) * 2);
    }
    h1
    {
        margin-top: 0;
        padding-top: 0;
    }
    .header
    {
        margin-bottom: calc(var(--main-gap) / 8);
    }
}

@media only screen and (width: 1920px)
{   
    .advantagesFieldItem
    {
        flex: 0 0 30%;
    }
    .advantagesField
    {
        justify-content: space-between;
    }
    .garanteeFieldItem
    {
        flex: 0 0 20%;
    }
    .garanteeField
    {
        justify-content: space-between;
    }
}